body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: white; /* Цвет фона страницы */
}

/* Стиль полосы прокрутки */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* МЕНЮ */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Разделяем логотип и меню */
    background-color: white; /* Цвет фона меню */
    padding: 10px 20px; /* Отступы для меню */
    width: 1050px; /* Фиксированная ширина меню */
    margin: 0px auto; /* Центрируем меню на странице */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Тень для меню */
}

.navbar a {
    text-decoration: none;
}

.logo {
    font-size: 28px; /* Размер шрифта для логотипа */
    color: rgba(238, 127, 126, 1); /* Цвет текста логотипа */
    font-family: 'Rubik Bubbles', sans-serif; /* Подключение шрифта Rubik Bubbles */
}

.menu {
    display: flex;
    gap: 30px; /* Промежуток между пунктами меню */
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    align-items: center;
}

.auth {
    background-color:rgba(244, 246, 248, 1);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 11px;
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

.auth:hover {
    background-color: rgb(227, 228, 228); /* Темно-зеленый фон при наведении */
}

.modal {
    display: none; /* Изначально скрыто */
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 239, 239, 0.55); /* Затемненный фон */
    z-index: 9998; /* Расположение над остальным содержимым */
    justify-content: center; /* Центрирование содержимого */
    align-items: center; /* Вертикальное центрирование */
}

.container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container h1 {
    font-weight: bold;
    margin: 2px 0;
}

.container p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 90%;
}

.container button {
    border-radius: 20px;
    border: 1px solid rgba(238, 127, 126, 1);
    background: rgba(238, 127, 126, 1);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 20px 0;
}

.container button:active {
    transform: scale(.95);
}

.container button:focus {
    outline: none;
}

.container button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    /* margin-top: 35px;
    margin-bottom: 35px; */
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
} 

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: rgba(248, 202, 169, 1);
    background: linear-gradient(to right, rgba(238, 127, 126, 1), rgb(248, 185, 141)) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 40%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

.container.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateY(0);
}

.container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

.footer {
	margin-top: 25px;
	text-align: center;
}


.icons {
	display: flex;
	width: 30px;
	height: 30px;
	letter-spacing: 15px;
	align-items: center;
}

.switch {
    margin-left: 2px;
    font-size: 15px;
    position: relative;
    width: 2.0em;
    height: 1em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 0 0 2px rgba(238, 128, 126, 0.519);
    border: 3px solid transparent;
    overflow: hidden;
    transition: .1s;
    background: transparent;
}

.slider:before {
    position: absolute;
    content: "";
    width: 40%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(238, 127, 126, 1);
    transform: translateX(-120%);
    transition: .1s;
}

input:checked + .slider {
    background-color: rgba(248, 202, 169, 1);
}

input:checked + .slider {
    box-shadow: 0 0 0 2px rgba(238, 127, 126, 1), 0 0 4px #777;
}

input:checked + .slider:before {
    transform: translateX(0.2em);
}

.toggle-text {
    font-size: 10px;
    color: rgba(80, 80, 80, 1);
    margin-left: 15px;
    /* margin-top: 0.25vw; */
    display: flex;
    align-items: center;
    height: 100%;
}

.toggle-forget-password {
    font-size: 10px;
    color: rgba(80, 80, 80, 1);
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.toggle-container {
    display: flex;
    align-items: center;
    width: 100.5%;
}

/* From Uiverse.io by Gautammsharma */ 
.material-checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(80, 80, 80, 1);
    cursor: pointer;
    width: 100.5%;
    margin: 3px 0;
}
  
.material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
.checkmark {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 12px;
    border: 1px solid rgba(238, 127, 126, 1);
    border-radius: 4px;
    transition: all 0.1s;
}
  
.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
    border-color: rgba(238, 127, 126, 1);
}
  
.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 4.2px;
    width: 3px;
    height: 9px;
    border: solid rgba(238, 127, 126, 1);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
    border-color:rgba(248, 202, 169, 1);
}
  
.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
    opacity: 0.5;
    cursor: not-allowed;
}
  
.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
    border-color: rgba(236, 128, 128, 1);
}


.container-2 {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255); /* Цвет фона меню */
    padding: 10px 20px; /* Отступы для меню */
    width: 1050px; /* Фиксированная ширина меню */
    margin: 0 auto; /* Центрируем меню на странице */
    gap: 20px;
}

/* Кнопка каталог */
.catalog {
    display: flex;
    align-items: center; /* Центрирует текст и иконку по вертикали */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    background-color: rgba(238, 127, 126, 1);
    color: rgb(255, 255, 255);
    padding: 13px 25px;
    border: none;
    border-radius: 11px;
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

.catalog:hover {
    background-color: rgb(246, 185, 141); /* Цвет фона при наведении */
}

.catalogIcon { 
    margin-right: 8px; /* Отступ между иконкой и текстом */
    fill: none; /* Убираем заливку */
}


/* Строка поиска */
.InputContainer {
    width: 660px;
    height: 44px;
    display: flex;
    align-items: center; /* Центрируем по вертикали все элементы внутри контейнера */
    justify-content: space-between; /* Изменено для размещения элементов по краям */
    background-color: rgba(244, 246, 248, 1);
    border-radius: 11px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    padding: 0 15px;
}

.input {
    display: flex;
    align-items: center;
    background-color: rgba(244, 246, 248, 1);
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    caret-color: #a8a8a8;
    color: #505050;
}

.labelforsearch, .micButton, .clearButton {
    display: flex;  /* Включаем Flexbox для каждой кнопки */
    justify-content: center;  /* Центрируем иконки по горизонтали */
    align-items: center;      /* Центрируем иконки по вертикали */
    background: transparent;
    border: none;
    cursor: pointer;
}

.searchIcon, .micIcon {
    width: 20px;  /* Задаем размеры иконок */
    height: 20px; /* Задаем размеры иконок */
}

.clearButton {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Кнопки после поиска */
.buttonLeft {
    background-color: rgba(244, 246, 248, 1);
    color: rgb(0, 0, 0);
    padding: 13px 13px;
    border: none;
    border-radius: 15px;
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s;
    display: flex;  /* Включаем Flexbox */
    justify-content: center;  /* Центрируем по горизонтали */
    align-items: center;  /* Центрируем по вертикали */
}

.buttonLeft:hover {
    background-color: rgb(227, 228, 228); 
}

.size-6 {
    margin: 0; /* Убираем отступы */
}

.container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; /* Три колонки одинаковой ширины */
    grid-template-rows: auto auto; /* Две строки */
    gap: 12px; /* Расстояние между фреймами */
    width: 1050px; /* Ширина всей сетки */
    margin: 0 auto; /* Центрирование сетки */
}

/* Общие стили для фреймов */
.frame {
    position: relative; /* Устанавливаем относительное позиционирование для фреймов */
    margin-top: 10px;
    border-radius: 19px;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    justify-content: space-between;
    transition: transform 0.1s;
}

/* Эффекты при наведении */
.frame.orange:hover, 
.frame.green:hover, 
.frame.blue:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/* Кнопка в правом верхнем углу */
.white-button {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 21px;
    right: 21px;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
}

.white-button:hover {
    transform: scale(1.1); /* Увеличиваем кнопку на 20% при наведении */
}


/* Стили для SVG-иконки */
.white-button svg {
    width: 24px;
    height: 24px;
    stroke: #000; /* Цвет иконки */
}

.text-frame {
    padding: 6px;
    max-width: 160px;
    word-wrap: break-word;
    white-space: normal;
}

.text-frame-green {
    padding: 6px;
    color: rgba(238, 127, 126, 1);
    max-width: 140px;
    word-wrap: break-word;
    white-space: normal;
}

/* Оранжевый блок */
.frame.orange {
    margin-top: 25px;
    width: 610px;
    height: 140px;
    background-color: rgb(246, 185, 141, 0.8);
    grid-column: span 2;
    grid-row: 1;
}

/* Голубой блок */
.frame.blue {
    height: 302px;
    margin-right: 5px;
    background-color: rgba(169, 218, 248, 1);
    grid-column: 1;
    grid-row: 2;
}

.frame.blue .zigzag {
    position: absolute; /* Позиционируем SVG внутри контейнера */
    top: 0;
    left: 0;
    width: 100%; /* Подгоняем SVG под ширину контейнера */
    height: 100%; /* Подгоняем SVG под высоту контейнера */
}

/* Зеленый блок */
.frame.green {
    height: 302px;
    margin-left: 5px;
    background-color:rgba(225, 235, 117, 1);
    grid-column: 2;
    grid-row: 2;
}

.frame.image {
    margin-top: 25px;
    margin-left: 10px;
    background-color: white;
    grid-column: 3;
    grid-row: span 2;
    padding: 0;
}

.frame.image img {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    object-fit: cover;
}

.container-4 {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.content {
    width: 80%;
    margin: 0 0 0 80px;
}

.container-4 h2 {
    font-size: 18px;
}

.container-4 p, ul {
    font-size: 16px;
}

.container-4 ul {
    list-style: disc;
    margin-left: 10px;
}

/* Текст О нас*/
.container-text {
    display: block;
    background-color: rgb(255, 255, 255); /* Цвет фона меню */
    /* padding: 10px 20px; Отступы для меню */
    width: 1050px; /* Фиксированная ширина меню */
    /* height: 80px; */
    margin: 0 auto; /* Центрируем меню на странице */
    margin-top: 30px;
    gap: 12px;
}

.container-reason {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255); /* Цвет фона меню */
    width: 1100px; /* Фиксированная ширина меню */
    height: 170px;
    gap: 12px; /* Расстояние между элементами внутри */
    margin: 0 auto; /* Центрирование блока */
}

.reason {
    width: 670px;
    display: flex; /* Flexbox для вертикального выравнивания */
    flex-direction: column; /* Направление содержимого: колонка */
    align-items: center; /* Выравнивание по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    gap: 10px; /* Отступ между SVG и текстом */
}

.reason svg {
    margin-bottom: 5px;
}

.text-reason {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 510px;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.container-reason {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255); /* Цвет фона меню */
    width: 1050px; /* Фиксированная ширина меню */
    height: 170px;
    gap: 12px; /* Расстояние между элементами внутри */
    margin: 0 auto; /* Центрирование блока */
}

/* Каталог */
.container-catalog {
    width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Адаптивные колонки */
    gap: 20px;
    padding: 20px;
    border: none;
}

/* Товар */
.catalog-page-item {
    flex: 1 1 245px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.1s, box-shadow 0.1s;
}

.catalog-page-item:hover {
    transform: translateY(-5px); /* Лёгкое поднятие при наведении */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
}

.catalog-card {
    border: 0.4px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Lato', sans-serif;;
    position: relative;
}
  
.card-image {
    width: 100%;
    height: 250px;
    background-color: #eae0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Обрезаем всё, что выходит за пределы */
}
  
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttonFavourite {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
}

.favorite-icon svg {
    transition: fill 0.3s ease, transform 0.3s ease;
    fill: none; /* Исходная заливка без цвета */
    stroke: rgba(0, 0, 0, 0.6); /* Обводка серого цвета */
}

.favorite-icon.active svg {
    fill: red;  /* Заливка красным цветом */
    stroke: red;
}


.card-content {
    padding: 18px;
    word-wrap: break-word;
    white-space: normal;
}
  
.card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Ограничение строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Многоточие */
    transition: -webkit-line-clamp 1s ease;
}

.catalog-card:hover .card-title {
    -webkit-line-clamp: unset; /* Убираем ограничение на количество строк */
}

  
.card-seller {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}
  
.card-price {
    font-size: 18px;
    color: #000;
    margin: 10px 0;
}
  
.add-to-cart {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: rgba(238, 127, 126, 1);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.add-to-cart:hover {
    background-color: rgba(225, 235, 117, 1);
}

/* Контакты */
.container-contact {
    display: flex; 
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between; 
    background-color: rgba(169, 218, 248, 1);
    width: 990px;
    height: 10.3vw;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

.container-contact h3{
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-weight: bold;

    margin-top: 3.65vw;
}

.container-contact a{
    font-size: 14px;
    font-weight: 400;
    color: white;

    text-decoration: none;
}

.container-contact p{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
